In [7]:
%config Completer.use_jedi=False
import pandas as pd
import os
os.chdir('horario/') #change working directory
os.listdir() # List all files and directories in current directory

['Documentos_1614618600900.xls',
 'Documentos_1614618490241.xls',
 'Documentos_1614618538446.xls',
 'Documentos_1614618625870.xls',
 'Documentos_1614618611749.xls',
 'Documentos_1614618551721.xls',
 'Documentos_1614618564164.xls',
 'Documentos_1614618666379.xls',
 'Documentos_1614618526494.xls',
 'Documentos_1614618640304.xls',
 'Documentos_1614618514593.xls',
 'Documentos_1614618497350.xls',
 'Documentos_1614618652457.xls',
 'Documentos_1614618482986.xls',
 'Documentos_1614618681463.xls',
 'Documentos_1614618703356.xls',
 'Documentos_1614618693066.xls',
 'Documentos_1614618576378.xls',
 'Documentos_1614618712702.xls',
 'Documentos_1614618587165.xls']

In [8]:
lista_ficheros=os.listdir()
electricidad=lista_ficheros[0]

In [35]:
f1_elect=pd.read_excel(electricidad,parse_dates=['fecha'])
f1_elect

,fecha,ES0021000013610554KW (KWh),ES0021000013969212CK (KWh),ES0021000018100163CB (KWh),ES0021000004109835AP (KWh),ES0021000013969204CJ (KWh),ES0021000013201439NB (KWh),ES0021000012513939KG (KWh),ES0021000013191958ZY (KWh)
0,2020-01-05 01:00:00,"44,000","205,000","80,000","93,000","111,000","7,360","21,000","0,000"
1,2020-01-05 02:00:00,"46,000","205,000","79,000","93,000","112,000","6,650","21,000","0,000"
2,2020-01-05 03:00:00,"46,000","209,000","80,000","92,000","113,000","6,570","20,000","0,000"
3,2020-01-05 04:00:00,"46,000","207,000","80,000","98,000","113,000","6,530","21,000","0,000"
4,2020-01-05 05:00:00,"44,000","213,000","80,000","120,000","121,000","6,510","21,000","0,000"
...,...,...,...,...,...,...,...,...,...
739,2020-05-31 20:00:00,"69,000","342,000","73,000","86,000","110,000","7,290","19,000","0,000"
740,2020-05-31 21:00:00,"66,000","324,000","75,000","85,000","107,000","6,700","20,000","0,000"
741,2020-05-31 22:00:00,"65,000","317,000","77,000","90,000","108,000","6,010","19,000","0,000"
742,2020-05-31 23:00:00,"68,000","309,000","76,000","95,000","108,000","7,490","20,000","0,000"
743,2020-01-06 00:00:00,"65,000","299,000","75,000","95,000","108,000","6,810","20,000","0,000"

In [23]:
fecha,hora=f1_elect["fecha"].astype(str).str.split(" ",expand=True)[0],f1_elect["fecha"].astype(str).str.split(" ",expand=True)[1]

In [24]:
fecha

0       1/5/2020
1       1/5/2020
2       1/5/2020
3       1/5/2020
4       1/5/2020
         ...
739    31/5/2020
740    31/5/2020
741    31/5/2020
742    31/5/2020
743     1/6/2020
Name: 0, Length: 744, dtype: object

In [25]:
hora

0       1h
1       2h
2       3h
3       4h
4       5h
      ...
739    20h
740    21h
741    22h
742    23h
743     0h
Name: 1, Length: 744, dtype: object

In [26]:
f1_elect['fecha']=fecha
f1_elect['hora']=hora

In [33]:
f1_elect.iloc[-1,0]

'1/6/2020'